/* geral */
* {
    margin: 0;
    font-family: Helvetica;
}

/* barra de navegação */
nav {
    background-color: #110224;
    border-bottom: 3px solid #38037e;
    height: 60px;
    border-top: 3px solid #38037e;
    border-right: 2px solid #6caf00;
    border-left: 2px solid #6caf00;
}

#logo {
    font-family: inherit;
    color:#6caf00;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    top: 19px;
    left: 30px;
}

#menu {
    list-style: none;
    float: right;
    margin-top: 23px;
}

.item {
    display: inline-block;
    margin-left: 10px;
    margin-right: 25px;
}

.item a {
    color: #6caf00;
    text-decoration: none;
}

.item a:hover {
    color: #c3d612;
    transition: .5s;
}



