/* geral */
* {
    margin: 0;
    font-family: Helvetica;
}

/* barra de navegação */
nav {
    background-color: #303030;
    border-bottom: 6px solid #252525;
    height: 60px;
}

#logo {
    font-family: inherit;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    top: 20px;
    left: 20px;
}

#menu {
    list-style: none;
    float: right;
    margin-top: 25px;
}

.item {
    display: inline-block;
    margin-left: 10px;
    margin-right: 20px;
}

.item a {
    color: rgb(57, 173, 240);
    text-decoration: none;
}

.item a:hover {
    color: #7a06ff;
    transition: .7s;
}

#logo-2 {margin-left: 10px;}

